@import "../../../styles.scss";
$Theme: dark;

.example-spacer {
  flex: 1 1 auto;
}
.navbar {
  background: transparent;
}
button {
  color: $PrimaryTextColor;
  border: 1rem;
}
::ng-deep .mat-dialog-container {
  @include backgroundgradient($Theme);
}
