h1 {
  color: white;
  font-weight: bold;
  font-size: xxx-large;
}
.name {
  color: #2979ff;
}
button {
  background-color: #2979ff;
  border-radius: 2em;
  width: 150px;
  color: white;
}
.message {
  font-size: xx-large;
}
.my-card {
  max-width: 400px;
  margin: 10px;
  background: transparent;
  color: white;
}
mat-card-subtitle {
  color: #a9a9a9;
}

.cardgroup {
  margin: 20px auto;
  display: flex;
}
.spanheader {
  display: grid;
  place-items: center;
  color: white;
  margin-top: 30px;
}
table {
  width: 100%;
  background: transparent;
  margin-top: 30px;
}
.mat-header-cell {
  color: #eeeeee;
  background: #2979ff;
}
.mat-cell,
.mat-footer-cell {
  color: #eeeeee;
}

@media only screen and (max-width: 600px) {
  .cardgroup {
    display: grid;
  }
  button {
    width: 100%;
  }
}
