@import "../../../styles.scss";
@import "../navbar/navbar.component.scss";
h1 {
  color: $PrimaryTextColor;
  font-weight: bold;
  font-size: xxx-large;
}
.name {
  color: #2979ff;
}
button {
  background-color: #2979ff;
  border-radius: 2em;
  width: 200px;
  color: white;
}
.message {
  font-size: xx-large;
}
.my-card {
  max-width: 400px;
  margin: 10px;
  background: transparent;
  color: $PrimaryTextColor;
}
mat-card-subtitle {
  color: $SecondaryTextColor;
}

.cardgroup {
  margin: 20px auto;
  display: flex;
}
.spanheader {
  display: grid;
  place-items: center;
  color: $PrimaryTextColor;
  margin-top: 30px;
}
table {
  width: 100%;
  background: transparent;
  margin-top: 30px;
}
.mat-header-cell {
  color: $SecondaryTextColor;
  background: #2979ff;
}
.mat-cell,
.mat-footer-cell {
  color: $SecondaryTextColor;
  font-size: 12px;
}
.contactsheet {
  display: grid;
  place-items: center;
  margin-top: 30px;
}
.main {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
::ng-deep .mat-bottom-sheet-container {
  @include backgroundgradient($Theme);
}
.dividercolour {
  background-color: rgba(202, 193, 193, 0.26);
}

@media only screen and (max-width: 600px) {
  .cardgroup {
    display: grid;
  }
  button {
    width: 100%;
  }
}
