h1 {
  color: white;
  font-weight: bold;
  font-size: xxx-large;
}
.name {
  color: #2979ff;
}
button {
  background-color: #2979ff;
  border-radius: 2em;
  width: 150px;
}
.message {
  font-size: xx-large;
}
