<mat-nav-list>
  <a mat-list-item>
    <span mat-line class="listlevel">Name</span>
    <span mat-line class="listdata">Mriganka Shekhar Saha</span>
  </a>

  <a mat-list-item>
    <span mat-line class="listlevel">Email</span>
    <span mat-line class="listdata">mrigankasaha2@gmail.com</span>
  </a>

  <a
    mat-list-item
    href="https://www.linkedin.com/in/mriganka-saha-ba16ba13b/"
    target="_blank"
  >
    <span mat-line class="listlevel">LinkedIn</span>
    <span mat-line class="listdata"
      >https://www.linkedin.com/in/mriganka-saha-ba16ba13b/</span
    >
  </a>
</mat-nav-list>
