<div class="aboutme">
  <p>
    I have been associated with Tata Consultancy Services Ltd. Since July 2017.
    My overall experience is 3 years 10 months. My main area of domain expertise
    is utilities which deal with gas, electricity, and water transmission,
    distribution, installation, and service.
  </p>
  <p>
    I am having 3 years of hands-on experience in .NET as a developer. Design
    and develop in ASP.NET, MVC, API, Windows Service, .NET Core MVC, API,
    Worker Service, Azure function App, Azure WebJobs, Azure Web App. Also, I
    have hands-on experience in SQL Server Database design and development. I am
    well versed with best practices followed in .NET, SQL for enhancing
    performance.
  </p>
  <p>
    I have also a strong background in ANGULAR 11, HTML, JAVASCRIPT, JQUERY,
    Typescript, Bootstrap, Angular Material UI, and domain knowledge on
    Electricity and Gas market.
  </p>
</div>
